!!! html 
%head
  %title "How long?"
  %link{:rel => "stylesheet", :href => "css/ui-lightness/jquery-ui-1.8.7.custom.css", :type => "text/css"}
  %link{:rel => "stylesheet", :href => "css/demo.css", :type => "text/css", :media => "screen"}
  %link{:rel => "stylesheet", :href => "css/demo-print.css", :type => "text/css", :media => "print"}
  %script{:src => "js/raphael-1.5.2.min.js"}
  %script{:src => "js/jquery-1.4.4.min.js"}
  %script{:src => "js/jquery-ui-1.8.7.custom.min.js"}
  %script{:src => "js/pie.js"}
  %script{:src => "js/application.js"}
%body
  = yield
